# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Tableau temporary files
.~*.twbr
*.twbr

# Project data
Data/Raw/
Data/processed/

# Tableau generated data
Tableau/data/